{
  "root": true,
  "extends": [
    "eslint:recommended",
    "airbnb",
    "plugin:prettier/recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module"
  },
  "env": {
    "es6": true,
    "browser": true,
    "jest": true
  },
  "plugins": [
    "svelte3"
  ],
  "overrides": [
    {
      "files": [
        "*.svelte"
      ],
      "processor": "svelte3/svelte3"
    }
  ],
  "rules": {
    // ...
    "import/prefer-default-export": "off"
  },
  "settings": {}
}
